body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 5rem;

  font-weight: 700;
}
h2,
p {
  font-weight: 500;
}

h3 {
  padding-bottom: 20px;
  font-weight: 700;
}

#today {
  margin: auto;
}

#details {
  height: 100%;
  background-color: #d3d3d3;
}
/* current */
.weather-description {
  font-size: 1.5rem;
}

/* week */
.next-day {
  padding: 3% 5%;
  margin: auto;
}

.week {
  height: 150px;
  width: 120px;
  margin: 6px auto;
  background-color: white;
  border-radius: 30px;
}
.week p {
  margin: 5px;
}

/* highlights */
.highlights {
  padding: 0% 5%;
  margin: auto;
}
.info {
  padding: 6px 10px 10px 10px;
  width: 90%;
  margin: 16px auto;
  background-color: white;
  border-radius: 30px;
  /* text-align: left; */
}

.data {
  font-size: 3rem;
  align-items: baseline;
}

@media screen and (max-width: 650px) {
  .data {
    font-size: 1.3rem;
    align-items: baseline;
  }
}

.details {
  background-color: white;
  height: 10%;
  width: 50%;
}
.sun {
  vertical-align: bottom;
  margin-right: 15px;
}
.sun-details {
  font-size: 1.5rem;
}
.location {
  font-size: 3rem;
}
